.app {
  background-image: linear-gradient(#ffb800 50%, #032a4a 50%);
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

/* .body {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
} */