.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
     height: auto;
     display: flex;
     overflow-x: auto;
     white-space: nowrap;
     padding: 10px;
     width: auto;
    }
}


.home img {
    height: 570px;
    /* left: 19%;
    margin-top: -125px;
    margin-left: -125px;
    position: absolute;
    top: 36%; */
    width: 570px;
}

.home_text {
    height: 570px;
    width: 570px;
    background-color: #BFD7EA;
    color: black;
    align-content: center;
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
     height: auto;
     display: flex;
     overflow-x: auto;
     overflow-y: auto;
     padding: 10px;
     width: 100px;
    }
}

.home_text > h1 {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.home_paragraph {
    padding: 15px;
    font-size: 23px;
    font-weight: 500;
}
